.navbarformat {
    background-color: rgb(255, 230, 0);
    padding: 10px;
}

.navbarformat a {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.navbarformat a:link {
    text-decoration: none;

}

.navbarformat a:hover {
    color: rgb(0, 136, 0);
    font-weight: bolder;
}

.navbarformat h1 {
    color: rgb(0, 0, 0);
    padding-right: 20px;
    text-align: right;
    
}

.navbarformatright {
    background-color: rgb(255, 230, 0);
    padding-top: 25px;
}

.navbarformatright a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.navbarformatright a:link {
    text-decoration: none;

}

.navbarformatright a:hover {
    color: rgb(0, 136, 0);
    font-weight: bolder;
}

.jumbotron {
    background-image: url('images/agriculture.jpg');
    background-size: cover;
    padding: 70px;
}

.jumbotron h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

#agrimapid {
    height: 550px;
    width: 1300px;
    border-style: solid;
    border-color: beige;
    border-width: .1cm;
}

.footer {
    background-color: rgb(255, 230, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.agri h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
}

.agri h2 {
    color: #4f6e47;
    font-size: 24px;

}

.agri h3 {
    color: #d91657;
    font-size: 16px;
}

.agri p {
    color: #000000;
}

.machinelearning {
    background-color: black;
}

.machinelearning p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.machinelearning h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color:#fff9e9;
}

.leaflet-popup-content-wrapper {
    background-color: rgb(255, 230, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: black;
}