.navbarformat {
    background-color: rgb(32, 122, 179);
    padding: 10px;
    
}

.navbarformat a {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}


.navbarformat a:link {
    text-decoration: none;

}

.navbarformat a:hover {
    color: red;
    font-weight: bolder;
}

.navbarformat h1 {
    color: rgb(255, 255, 255);
    padding-right: 20px;
    text-align: right;
    
}

.navbarformatright {
    background-color: rgb(32, 122, 179);
    padding-top: 25px;
    
}

.navbarformatright a {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}


.navbarformatright a:link {
    text-decoration: none;

}

.navbarformatright a:hover {
    color: red;
    font-weight: bolder;
}

.footer {
    background-color: rgb(32, 122, 179);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.health h1, h3, p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
}

.health h3 {
    color: #d91657;

}

.health p {
    color: #16d954;
}

.jumbotron {
    background-image: url('images/stethescope.jpg');
    background-size: cover;
    padding: 70px;
    z-index: -4;
}

.jumbotron h1{
    text-align: center;
    color: white;
}

#healthmapid {
    height: 550px;
    width: 1300px;
    border-style: solid;
    border-color: beige;
    border-width: .1cm;
}

.btn{
    background-color: rgb(32, 122, 179);
    
}

.leaflet-popup-content-wrapper {
    background-color: rgb(32, 122, 179);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fffafb;
}

/*  */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;}


