.navbarformat {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.header{
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.health {
    background-image: url('stethescope.jpg');
    background-size: cover;
    padding: 100px;
    text-align: center;
    border-radius: 25px;
    
}

.health a{
    color: white;
    font-size: 30px;
}

.health a:link{
    text-decoration: none;
}

.health a:hover{
    color: orange;
    font-weight: bolder;
}

.agricutlure {
    background-image: url('agriculture.jpg');
    background-size: cover;
    padding: 100px;
    text-align: center;
    border-radius: 25px;
}

.agricutlure a{
    color: white;
    font-size: 30px;
}

.agricutlure a:link{
    text-decoration: none;
}

.agricutlure a:hover{
    color: rgb(59, 99, 0);
    font-weight: bolder;
}

.finance {
    background-image: url('finance.jpg');
    background-size: cover;
    padding: 100px;
    text-align: center;
    border-radius: 25px;
}

.finance a{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.finance a:link{
    text-decoration: none;
}

.finance a:hover{
    color: rgb(0, 238, 255);
    font-weight: bolder;
}

.science {
    background-image: url('scitech.jpg');
    background-size: cover;
    padding: 100px;
    text-align: center;
    border-radius: 25px;
}

.science a{
    color: white;
    font-size: 30px;
}

.science a:link{
    text-decoration: none;
}

.science a:hover{
    color: rgb(255, 148, 166);
    font-weight: bolder;
}