<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' scr='text/css' href="{{url_for('static',filename = 'styles.css')}}">

    <title>Sector Forecast</title>

</head>

<body>
    
    <!-- As a link -->
    
    <nav class="navbarformat navbar-light">Sector Forecast</nav>

    <div class="container">
        <h1>Please Select the Sector Below</h1><hr><br>

        <div class="row">
            <div class="health col-md-6">
                <a href="{{url_for('healthcare')}}">Health Care Sector</a>            
            </div>

            <div class="agricutlure col-md-6">
                <a href="{{url_for('agriculture')}}">Agricultural Sector</a>
            </div>



        </div>

    </div>













    <footer class="footer">
        <div class="row">
            <div class="col-md-12">
                <p>Sumukh Kumble, 2021</p>
            </div>
        </div>
    
    </footer>





<!-- Tensorflow JS Script -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>


<!-- D3 javascript -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Plotly JavaScript Library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Custom Javascript Files -->
<!-- <script src="{{url_for('static', filename='mathsfunctions.js')}}"></script> -->
<!-- <script src="{{url_for('static', filename='health.js')}}"></script> -->

</body>

</html>